extends ./base

block content
    div#videoContainer(data-id=video._id)
        div.videoBox
            video(src=video.fileUrl, draggable=false)
        div#videoControls.videoControls
            input(type="range", step="1", value=0, min="0")#timeline.videoControls__timeline
            
            div.videoControls__play
                span#play.videoControls_playBtn
                    i.fas.fa-play
            div.videoControls__time
                span#currentTime 00:00
                span  &nbsp;/&nbsp;
                span#totalTime 00:00
            
            div.videoControls__volume
                span#mute
                    i.fas.fa-volume-up
                input(type="range", step="0.1", value=0.5, min="0", max="1")#volume
            div.videoControls__screen
                span#fullScreen
                    i.fas.fa-expand

    div.video__data
        span.video__hashtags=hashtags
        p.video__title=video.title
        div.video__data--info
            div.video__data--info-meta
                small 조회수 #{video.meta.views} 회
                small &nbsp;&middot;&nbsp;
                small.video__createdAt=printUploadedDay
                small &nbsp;
                small (#{uploadedTime})
            div.video__data--info-functions
                div.video__data--info-function#video__like
                    if loggedInUser
                        if alreadyRecommand
                            i.fas.fa-thumbs-up#video__like--icon
                        else 
                            i.far.fa-thumbs-up#video__like--icon
                    else
                        i.far.fa-thumbs-up#video__like--icon
                    span#video__like--span #{video.meta.rating.count} 개
                div.video__data--info-function
                    i.fas.fa-share-alt#video__share--icon
                    span 공유
                div.video__data--info-function
                    i.fas.fa-download
                    span 저장
                div.video__data--info-sign#video__data--info-like
                    span 로그인이 필요한 기능입니다.

                div.video__data--info-sign#video__data--info-share
                    span 링크가 복사되었습니다.
        
        hr

        div.video__info
            div.video__info-personal
                a(href=`/users/${video.owner._id}`)
                    if video.owner.avatarUrl=="{}"
                        img.video__profile(src="https://onetube-w.s3.ap-northeast-2.amazonaws.com/default.png")  
                    else
                        img.video__profile(src=video.owner.avatarUrl)
                div.video__info-name
                    small 영상 게시자
                    small.video__owner #{video.owner.name} 님
            
            br
            if loggedInUser && (String(video.owner._id) === String(loggedInUser._id))
                div.video__edit-btns
                    a(href=`${video.id}/edit`).video__function--btn 영상 수정
                    br
                    a(href=`${video.id}/delete`).video__function--btn 영상 삭제

        div.video__info-video
            span 영상 설명
            span=video.description
        hr
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm(data-username=loggedInUser.username)
                input(placeholder="공개 댓글 추가")#input-comment
                button.video__comment-btn 댓글

    div.video__comments
        ul
            each comment in comments
                li.video__comment(data-id=comment.id)
                    div.video__comment--left
                        i.fas.fa-comment
                        div.video__comment--spans
                            span #{comment.username}님이 작성함 #{comment.createdAt}
                            span #{comment.text}
                    if loggedInUser && (String(comment.owner_id) === String(loggedInUser._id))
                        i.fas.fa-eraser#video__comment-delete--btn

block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")
    script(src="/static/js/ratingSection.js")